.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
*.DS_Store
data/npi.csv
data/pl.csv
web/debug.log
venv/
.idea/*
.env
**/__pycache__/*
curr.txt
**/debug.log