.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
*.DS_Store
data/NPPES_Data_Dissemination_*
web/debug.log
venv/
.idea/*
.env
**/__pycache__/*